.ContextMenuControl-module__context-menu__qivRQ {
  width: 300px;
}

.ContextMenuControl-module__menu-icon__Xciky {
  overflow: visible;
  margin-top: -16px;
}

[dir='ltr'] .ContextMenuControl-module__menu-icon__Xciky,
[dir='rtl'] .ContextMenuControl-module__menu-icon__Xciky {
  margin-left: 2px;
  margin-right: 2px;
}

.ContextMenuControl-module__context-menu__icon__WeYJ7 {
  color: #000;
}

.ContextMenuControl-module__context-menu-item__vS7Ge {
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: 14px;
  z-index: 100;
  position: relative;
  height: 40px;
  cursor: pointer;
  background-color: #fff;
  padding: 6px 12px;
}

.ContextMenuControl-module__menu-item__flex-content__pRX63 {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.ContextMenuControl-module__context-menu-item__title__st0Oh {
  line-height: 28px;
  color: #323130;
}

.ContextMenuControl-module__context-menu__qivRQ:first-child {
  margin-top: 8px;
}

.ContextMenuControl-module__context-menu__qivRQ:last-child {
  margin-bottom: 8px;
}

.ContextMenuControl-module__submenu-icon__Mhgze {
  position: absolute;
}

[dir='ltr'] .ContextMenuControl-module__submenu-icon__Mhgze {
  right: 10px;
}

[dir='rtl'] .ContextMenuControl-module__submenu-icon__Mhgze {
  left: 10px;
}

@keyframes ActivityControl-module__fadeIn__z1TmQ {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.ActivityControl-module__activity-icon__Og235 {
  display: inline-block;
  vertical-align: middle;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 2px;
}

[dir='ltr'] .ActivityControl-module__activity-icon__Og235 {
  margin-right: 2px;
}

[dir='rtl'] .ActivityControl-module__activity-icon__Og235 {
  margin-left: 2px;
}

.ActivityControl-module__activity-icon--small__vMkSN {
  font-size: 20px;
  line-height: 12px;
}

.ActivityControl-module__activity-type-icon__DHyyA {
  position: relative;
  display: block;
  height: 22px;
  width: 16.125px;
  white-space: nowrap;
  color: var(--colorBrandForeground1, #0f6cbd);
  margin-top: 3px;
}

[dir='ltr'] .ActivityControl-module__activity-type-icon__DHyyA {
  margin-right: 4px;
}

[dir='rtl'] .ActivityControl-module__activity-type-icon__DHyyA {
  margin-left: 4px;
}

.ActivityControl-module__activity-type-icon__v2__hCrJB {
  color: var(--colorNeutralForeground2);
}

.ActivityControl-module__activity-item__j7T17 {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0;
}

.ActivityControl-module__activity-link__DUVid {
  display: inline-flex;
  color: var(--colorNeutralForeground2, #424242);
  font-family: var(--fontFamilyBase, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif);
  font-size: var(--fontSizeBase300, 14px);
  font-weight: var(--fontWeightSemibold, 600);
  line-height: var(--lineHeightBase300, 20px);
}

.ActivityControl-module__activity-link__DUVid:focus,
.ActivityControl-module__activity-link__DUVid:hover {
  color: var(--colorNeutralForeground2Hover, #242424);
}

.ActivityControl-module__custom-activity-link__BM4vd {
  display: inline-flex;
  color: var(--colorNeutralForeground1, #242424);
  font-family: var(--fontFamilyBase, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif);
  font-size: var(--fontSizeBase200, 12px);
  font-weight: var(--fontWeightSemibold, 600);
  line-height: var(--lineHeightBase200, 16px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ActivityControl-module__custom-activity-link__BM4vd:focus,
.ActivityControl-module__custom-activity-link__BM4vd:hover {
  color: var(--colorNeutralForeground2LinkPressed, #242424);
}

.ActivityControl-module__activity-link-ellipsis__ZoUWr {
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.ActivityControl-module__activity-content__ealEs {
  width: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0;
}

[dir='ltr'] .ActivityControl-module__activity-content__ealEs {
  margin-left: 6px;
}

[dir='rtl'] .ActivityControl-module__activity-content__ealEs {
  margin-right: 6px;
}

.ActivityControl-module__activity-text__qEjee {
  display: block;
  width: 100%;
  color: var(--colorNeutralForeground2, #424242);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: var(--fontFamilyBase, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif);
  font-size: var(--fontSizeBase300, 14px);
  font-weight: var(--fontWeightRegular, 400);
  line-height: var(--lineHeightBase300, 20px);
  letter-spacing: 0.01em;
}

[dir='ltr'] .ActivityControl-module__activity-text__qEjee {
  text-align: left;
}

[dir='rtl'] .ActivityControl-module__activity-text__qEjee {
  text-align: right;
}

.ActivityControl-module__activity-text__v2__F0Qbc {
  color: var(--colorNeutralForeground2);
}

.ActivityControl-module__activity-timestamp__YmN5s {
  color: var(--colorNeutralForeground2, #424242);
  font-family: var(--fontFamilyBase, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif);
  font-size: var(--fontSizeBase300, 14px);
  font-weight: var(--fontWeightRegular, 400);
  line-height: var(--lineHeightBase300, 20px);
}

.ActivityControl-module__activity-persona__Ms6Gf {
  vertical-align: top;
}

.ActivityControl-module__activity-persona__Ms6Gf:hover {
  text-decoration: underline;
}

.ActivityControl-module__activity-persona-text__uEXHJ {
  font-weight: 600;
}

.ActivityControl-module__activity-persona-text__v2__mkeAi {
  color: var(--colorNeutralForeground2, #424242);
}

.DocumentIconControl-module__icon-tile__wrapper__P7Fn3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-lr;
  padding: 6px;
  border-radius: 8px;
  background-color: var(--colorNeutralBackground1Hover);
}

.DocumentIconControl-module__meeting-object-icon__wrapper__FfKWq {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  background-color: #6264a7;
}

.DocumentIconControl-module__meeting-object-icon__LgOYp {
  position: absolute;
  display: block;
  color: #fff;
  line-height: 25px;
  max-height: 14px;
  margin-top: 5px;
}

[dir='ltr'] .DocumentIconControl-module__meeting-object-icon__LgOYp {
  margin-left: 6px;
}

[dir='rtl'] .DocumentIconControl-module__meeting-object-icon__LgOYp {
  margin-right: 6px;
}

.DocumentIconControl-module__meeting-object-icon__LgOYp.DocumentIconControl-module__meeting-object-icon--no-background__NyHMZ {
  position: relative;
  color: var(--colorNeutralForeground1, #242424);
  max-height: 21px;
  margin: 0;
}

.DocumentIconControl-module__document-list-item__icon--display__S0kf7 {
  display: block;
}

.DocumentIconControl-module__custom-icon--16x16__GIgO0 {
  width: 16px;
  height: 16px;
}

.DocumentIconControl-module__custom-icon--20x20__heM8V {
  width: 20px;
  height: 20px;
}

.DocumentIconControl-module__custom-icon--24x24__pn4H3 {
  width: 24px;
  height: 24px;
}

.DocumentIconControl-module__custom-icon--32x32__f7fVd {
  width: 32px;
  height: 32px;
}

.DocumentIconControl-module__custom-icon--64x64__Acg2o {
  width: 64px;
  height: 64px;
}

.DocumentIconControl-module__custom-icon__ymWKR {
  vertical-align: inherit;
}

.file-suggestion-icon-fix {
  width: 28px !important;
  height: 28px !important;
}

.serp-search-suggestion-text {
  text-align: center;
}

.serp-search-suggestion-text a > div {
  color: #464feb;
  font-weight: 500 !important;
}

.serp-app-icon {
  display: flex;
  width: 32px;
  height: 32px;
}

.serp-app-icon:before {
  width: 100%;
}

.ms-searchux [class^='consumerTemplateLabel'] {
  font-family: unset;
  color: unset;
}

.ms-searchux [class^='consumerTemplatePremiumIcon'] {
  font-family: ShellFabricMDL2Icons, FabricMDL2Icons;
  color: #323130;
}

.SearchSuggestionButton-module__search-icon__fFnFE {
  align-self: center;
  line-height: 20px;
  flex: 0 0 44px;
  text-align: center;
}

.SearchSuggestionButton-module__search-icon__container__xOAsW {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

[dir='ltr'] .SearchSuggestionButton-module__search-icon__container__xOAsW {
  margin-left: 10px;
  margin-right: 6px;
}

[dir='rtl'] .SearchSuggestionButton-module__search-icon__container__xOAsW {
  margin-right: 10px;
  margin-left: 6px;
}

.SearchSuggestionButton-module__search-icon__container__offScreen__WQQVI {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.SearchSuggestionButton-module__search-icon--image__b4vuc {
  line-height: 0 !important;
  font-size: 24px;
  width: 24px;
  height: 24px;
}

.SearchSuggestionButton-module__search-icon--image__b4vuc:before {
  width: 100%;
}

.SearchSuggestionButton-module__search-icon--image--darkMode__fvNFU {
  color: #edebe9;
  line-height: 0 !important;
  font-size: 24px;
  width: 24px;
  height: 24px;
}

.SearchSuggestionButton-module__search-icon--image--darkMode__fvNFU:before {
  width: 100%;
}

.SearchSuggestionButton-module__search-button-container__HFMq7 {
  min-width: 100%;
  display: flex;
  border-spacing: 0;
  align-items: center;
  margin: 0;
}

.SearchSuggestionButton-module__search-button-container__HFMq7:hover {
  background-color: #f3f2f1;
}

.SearchSuggestionButton-module__search-button-container__link__nVQ2Q {
  color: #323130;
  height: 36px;
  align-items: center;
  min-width: 0;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  text-decoration: none;
  margin: 0;
  cursor: default;
}

.SearchSuggestionButton-module__search-button-container__link__nVQ2Q:focus,
.SearchSuggestionButton-module__search-button-container__link__nVQ2Q:link,
.SearchSuggestionButton-module__search-button-container__link__nVQ2Q:visited {
  text-decoration: none;
}

.SearchSuggestionButton-module__search-button-container__link__nVQ2Q:hover {
  cursor: pointer;
}

.SearchSuggestionButton-module__search-button-container__text__iGWxm {
  margin: 0;
  padding: 0;
}

.SearchSuggestionButton-module__search-button-container__text--darkMode__Gh2YQ,
.SearchSuggestionButton-module__search-button-container__text__iGWxm {
  max-width: 100%;
  font-size: 14px;
  font-weight: 400;
  text-overflow: ellipsis;
  flex-direction: column;
  overflow: hidden;
  flex: 1 1 auto;
  line-height: 20px;
  width: calc(100% - 28px);
  display: block;
  pointer-events: none;
}

.SearchSuggestionButton-module__search-button-container__text--darkMode__Gh2YQ {
  color: #edebe9;
  margin: 0;
  padding: 0;
}

.SearchSuggestionButton-module__search-compound-button-container__Hin41 {
  min-width: 100%;
  display: flex;
  border-spacing: 0;
  align-items: center;
  margin: 0;
}

.SearchSuggestionButton-module__search-compound-button-container--see-more__ESMxV {
  border-top: 1px solid #edebe9;
}

.SearchSuggestionButton-module__search-compound-button-container--see-more--darkMode__BYeTT {
  border-top: 1px solid #323130;
}

.SearchSuggestionButton-module__search-compound-button-container__link__x8U5c {
  color: #323130;
  height: 50px;
  align-items: center;
  min-width: 0;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  text-decoration: none;
  margin: 0;
  cursor: default;
}

.SearchSuggestionButton-module__search-compound-button-container__link__x8U5c:focus,
.SearchSuggestionButton-module__search-compound-button-container__link__x8U5c:link,
.SearchSuggestionButton-module__search-compound-button-container__link__x8U5c:visited {
  text-decoration: none;
}

.SearchSuggestionButton-module__search-compound-button-container__link__x8U5c:hover {
  background-color: #f3f2f1;
  cursor: pointer;
}

.SearchSuggestionButton-module__search-compound-button-container__text__vx4sq {
  margin: 0;
  padding: 0;
}

.SearchSuggestionButton-module__search-compound-button-container__text--darkMode__f7tXn,
.SearchSuggestionButton-module__search-compound-button-container__text__vx4sq {
  max-width: 100%;
  font-size: 14px;
  font-weight: 400;
  text-overflow: ellipsis;
  flex-direction: column;
  overflow: hidden;
  flex: 1 1 auto;
  line-height: 20px;
  width: calc(100% - 28px);
  display: block;
  pointer-events: none;
}

.SearchSuggestionButton-module__search-compound-button-container__text--darkMode__f7tXn {
  color: #edebe9;
  margin: 0;
  padding: 0;
}

.SearchSuggestionButton-module__search-compound-button-container__text__description__hIviM {
  font-size: 12px;
  color: #767676;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  width: 100%;
}

.SearchSuggestionButton-module__search-button-title__ULZG7 {
  overflow: hidden;
  text-overflow: ellipsis;
}
